.call-to-action-top-wrapper.news-hide a{display:block;position:relative;height:6.25rem!important; margin-bottom:.5rem!important;}
.call-to-action-top-wrapper.news-hide .call-to-action-wrapper{height:6.25rem!important}